body{
    margin: 0;
    padding: 0;
    background-color: #f8f3ec;
}

/*--- nevbar section style ---*/

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #999999;
}
.btn-color{
    background-color: #ff8b61;
    color: #ffffff;
}
#menu li a{
    color: black;
    margin-left: 20px;
}

/* ---search section style ---*/

#no-found {
    font-size: 25px;
    color:red;
}

#meals-container{
    margin-top: auto;
}
.food-items{
    background-color: #ebebeb;
    border-radius: 15px;
    padding-top: 10px;
    width: auto;
    margin: 8px 16px;
    cursor: pointer;
    
}

.food-items img{
    height: 220px;
    width: auto;
    border-radius: 12px;
    padding: 10px;
}

/*--- Meal detais style ---*/

#ingredient li {
    font-weight: normal;
    list-style: none;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    color: #6C6C6C;
}

#ingredient li::after {
    content: '';
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    width: 24px;
    height: 24px;
    background: url(image/checkmark.png) no-repeat center center / contain;
}